body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  width: 100%;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.square{
  height: calc(100%/3);
  width: calc(100%/3);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid black;
}
.cell{
  box-sizing: border-box;
  border: 1px solid black;
  width: calc(100%/9);
  height: calc(100%/9);
  display: block;
  text-align: center;
  font-size: 2rem;
}